@model Project

<h2>Create a New Project</h2>

@using (Html.BeginForm("InsertProjectToDatabase", "Project", "Post"))
{
    <label asp-for="ProjectID" class="control-label">ProjectID</label>
    <input type="text" name="ProjectID" class="form-control" value="" />

    <label asp-for="Name" class="control-label">Name</label>
    <input type="text" name="Name" class="form-control" value="" />

    <label asp-for="Cost" class="control-label">Cost</label>
    <input type="number" name="Cost" class="form-control" value="" />
            
    <input type="submit" value="Create Project" class="btn btn-primary" />
}