@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <h1 class="display-4">---------------------------------</h1>
    <h1 class="display-4">ALPHA OMEGA CONSULTING Group's</h1>
    <h1 class="display-4">---------------------------------</h1>
    <h1 class="display-3">Project Portfolio Management Portal</h1>
       </div>


<body>
    
    <h1>  </h1>
    
    <p>
                
    </p>
    <h1> Project Definition </h1>
    <p>

    </p>

    <p>
        
        A project is a set of tasks that must be completed within a defined timeline to accomplish a specific set of goals. 
        These tasks are completed by a group of people known as the project team, which is led by a project manager, 
        who oversees the planning, scheduling, tracking and successful completion of projects.

        Besides the project team, projects require resources such as labor, materials and equipment. 
        Organizations and individuals manage projects with a wide range of objectives. 
        These can take many forms, from constructing a building to planning an event and even completing a certain duty. 
        Retailers, for example, may pursue projects that improve the way they track order fulfillment.
        Construction teams complete projects any time they plan and build something—and so on!
    </p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</body>
